<div class="main-header">
	<div class="container">
		<div class="section-left">
      <a href="/">
          <div class="logo">
            <img src="/assets/images/dufry_logo_whiteTransparent.png" />
          </div>  
      </a>    
			<div class="title">
        <h1>Training Materials</h1>
        <h2>User Guide</h2>
			</div>
    </div>
    
    <div class="section-right">
      <div class="search-container">        
        <form name="searchForm">
          <div class="input-group">
              <input type="text" placeholder="Search..." name="search" class="form-control">
              <span class="input-group-btn">
                  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
              </span>
          </div>
        </form>
      </div>
    </div>
	</div>
</div>