{% if menu %}
<ul class="sub-menu collapse" id="ul_{{ identifier }}">
  {% for item in menu %}
    {% if item.children %}
      <li  data-toggle="collapse" data-target="#ul_{{ item.identifier }}" class="collapsed" id="{{ item.identifier }}">
        <a href="{{ item.url }}"><i class="fa fa-gift fa-lg"></i> {{ item.title }} </a><a><span class="arrow"></span></a>
      </li>
      {% assign menu = item.children %}
      {% assign identifier = item.identifier %}
      {% include left_submenu_bar.html %}
    {% elsif item.children == null %}
    <li  data-toggle="collapse" id="{{ item.identifier }}">
      <a href="{{ item.url }}"><i class="fa fa-gift fa-lg"></i> {{ item.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
{% endif %}
