<script>
  $(document).ready(function() {
    if(window.location.pathname == "/"){
      window.sessionStorage.removeItem("category");
    }
    var cat = window.sessionStorage.getItem("category");
    if(cat){
      var cat = "#" + cat;
      $(cat).addClass("active");
      
      var parentList = $(cat).parents("ul");
      var collapsed = true, i = 0;
      while(collapsed && i < parentList.length){
        if(parentList[i].classList.contains('sub-menu')){
          $("#" + parentList[i].id).addClass("in");
          i++;
        }
        else{
          collapsed = false;
        }
      }
    }
  });

  function setSelectedCategory(identifier, url) {
      window.sessionStorage.setItem("category", identifier);
      window.location.href = url;
    }
</script>

{% if menu %}
<ul class="sub-menu collapse" id="{{ identifier }}">
  {% for item in menu reversed %}
    {% if item.children %}
      <li  data-toggle="collapse" data-target="#{{ item.identifier }}" class="collapsed">
        <a href="#" title="Go to {{ item.title }}" ><i class="fa fa-gift fa-lg"></i> {{ item.title }} <span class="arrow"></span></a>
      </li>
      {% assign menu = item.children %}
      {% assign identifier = item.identifier %}
      {% include left_submenu_bar.html %}
    {% elsif item.children == null %}
    <li  data-toggle="collapse" id="{{ item.identifier }}" class="collapsed">
      <a title="Go to {{ item.title }}" onclick="setSelectedCategory('{{ item.identifier }}', '{{ item.url}}')"><i class="fa fa-gift fa-lg"></i> {{ item.title }} <span class="arrow"></span></a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
{% endif %}
